<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meau">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AnimalProfile"></activity>
        <activity android:name=".MainFActivity" />
        <activity android:name=".MyPetsFragmentAdapter" />
        <activity android:name=".MyPetsActivity" />
        <activity android:name=".AnimalFragment" />
        <activity android:name=".SucessoCadastroAnimal" />
        <activity android:name=".AjudaCadastro" />
        <activity android:name=".ApadrinhamentoCadastro" />
        <activity android:name=".AdocaoCadastro" />
        <activity android:name=".Sancho" />
        <activity android:name=".Marie" />
        <activity android:name=".Margot" />
        <activity android:name=".Alec" />
        <activity android:name=".Bidu" />
        <activity android:name=".Pequi" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Privacidade" />
        <activity android:name=".CadastroPessoalActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".TermoAdocao" />
        <activity android:name=".ConfimaTermos" />
        <activity android:name=".AjudarActivity" />
        <activity android:name=".AdotarActivity" />
        <activity android:name=".LoginPessoal" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>